@import url("./DesktopApp.css") (min-width: 100em);
@import url("./Laptop.css") (min-width: 50em) and (max-width: 100em);
@import url("./MobileApp.css") (max-width: 50em);

/*#region Hover Note */

.hover-note {
  position: fixed;
  top: 80%;
  right: 2%;
  background-color: var(--clr-neutral-black);
  z-index: 999;
  height: 3rem;
  width: 4rem;
  padding: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: 500ms all;
  display: flex;
  opacity: 1;
  cursor: pointer;
}

.hover-note[data-type="hide"] {
  opacity: 0;
  cursor: default;
}

.hover-note:hover {
  scale: 1.05;
}

.hover-note-icon {
  width: 1.5rem;
  rotate: 180deg;
}

.hover-note-text {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-white);
}

/*#endregion Hover Note */
