/*#region QuestionDialog */

.question-dialog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.question-dialog-question-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: var(--clr-neutral-black);
  color: var(--clr-neutral-white);
  padding: 3rem 0rem;
  justify-content: center;
  align-items: center;
}

.question-dialog-header {
  font-size: var(--fs-625);
  text-align: center;
  max-width: 100%;
}

.dialog-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  gap: 5%;
  user-select: none;
  margin-top: auto;
  margin-bottom: 0;
}

.question-form {
  position: relative;
  height: 52vh;
  margin-top: 3vh;
}

.question-form-element {
  position: absolute;
  padding-top: 8vh;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-form-element[data-type="shown"] {
  display: block;
}

.question-form-element[data-type="hidden"] {
  display: none;
}

.question-form-header {
  font-size: var(--fs-625);
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 0 20%;
  margin-top: 0;
  margin-bottom: 0;
}

.question-form-answers {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  transition: all 300ms;
}

.question-form-answers[data-type="duo"] {
  justify-content: center;
  gap: 2vw;
}

.question-form-answer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
  position: relative;
  width: 25%;
  height: 100%;
  padding: 1rem;
  border: 2px solid var(--clr-neutral-white);
  border-radius: 0.25rem;
  transition: all 300ms;
  transition: border 0ms;
}

.question-form-answer img {
  height: 4rem;
  margin: auto;
  transition: all 300ms;
}

.question-form-answer p {
  font-size: var(--fs-600);
  transition: all 300ms;
}

.question-form-answer:hover img,
.question-form-answer[data-type="selected"] img {
  scale: 1.1;
}

.question-form-answer:hover,
.question-form-answer[data-type="selected"]:hover {
  cursor: pointer;
}

.question-form-answer:hover p,
.question-form-answer[data-type="selected"] p {
  font-weight: var(--fw-bold);
}

.question-form-answer[data-type="selected"] {
  border: 2px solid var(--clr-neutral-black);
  border-radius: 0.25rem;
}

.question-form-answer-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.question-form-error {
  position: absolute;
  color: red;
  text-align: center;
  margin-top: 2rem;
  left: 0;
  right: 0;
}

/*#endregion QuestionDialog */

/*#region ProgressionBar */

.progression-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progression-bar-bg {
  background-color: var(--clr-shadow-bg);
  width: 60%;
  height: 1rem;
  border-radius: 1rem;
  margin: 4rem auto;
  display: flex;
  justify-content: flex-start;
}

.progression-bar-fg {
  width: 0%;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--clr-neutral-black);
  transition: 300ms all;
}

.progression-bar-content,
.donut-chart-heading {
  text-align: center;
  background-color: var(--clr-neutral-black);
  color: var(--clr-neutral-white);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.progression-bar-content-header {
  font-size: var(--fs-600);
}

/*#endregion ProgressionBar */

/*#region DonutChart */

.donut-chart-item-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-left: 15%;
  z-index: 998;
}

.donut-chart-item-list-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.donut-chart-item-list-item-color {
  height: 1.5rem;
  width: 1.5rem;
}

.donut-chart-item-list-item-color[data-id="1"] {
  background-color: blue;
}

.donut-chart-item-list-item-color[data-id="2"] {
  background-color: orange;
}

.donut-chart-item-list-item-label {
  font-size: var(--fs-600);
}

.donut-chart-heading {
  gap: 1.5rem;
  padding: 2rem;
  margin-bottom: 1vh;
  height: 25vh;
}

.donut-chart-header {
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: var(--fs-700);
  margin: 0;
}

.donut-chart-dialog-content {
  height: 75vh;
  width: 100%;
}

.donut-chart-sub-header {
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: var(--fs-625);
  margin: 0;
  max-width: 60%;
}

.donut-chart-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25rem;
  height: 25rem;
}

.donut-chart {
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(-1);
  margin: auto;
  transform: rotate(0deg);
}

.donut-chart-inner {
  background: var(--clr-neutral-white);
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 60%;
  margin: auto;
  border-radius: 50%;
  z-index: 101;
}

.donut-chart-risk {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  scale: 1.05;
  transform: rotate(0deg);
  transition: background-image 500ms;
}

.donut-chart-risk[data-type="animate"] {
  animation: rotateRiskValue 750ms forwards;
}

@keyframes rotateRiskValue {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.donut-chart-preset-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 75%;
  margin: auto;
  margin-bottom: 5vh;
}

.donut-chart-preset-list-item {
  padding: 0.5rem 0.25rem;
  position: relative;
  height: 100%;
  width: 20%;
  display: grid;
  gap: 0.5rem;
  opacity: 0.5;
  transition: 500ms all;
}

.donut-chart-preset-list-item[data-type="selected"] {
  opacity: 1;
  scale: 1.05;
}

.donut-chart-preset-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.donut-chart-preset-content .donut-chart-wrapper {
  width: 4rem;
  height: 4rem;
  padding: 0.25rem;
}

.donut-chart-preset-content .donut-chart {
  width: 100%;
  height: 100%;
}

.donut-chart-preset-content-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: left;
}

.donut-chart-preset-content-info h3 {
  font-size: var(--fs-650);
}

.donut-chart-preset-content-info h4 {
  font-size: var(--fs-500);
}

.donut-chart-preset-footer {
  text-align: left;
  background-color: var(--clr-neutral-black);
  color: var(--clr-neutral-white);
  font-size: var(--fs-500);
  padding: 0.5rem;
}

.donut-chart-dialog {
  display: grid;
  gap: 1rem;
  height: 100vh;
}

.dialog-btn-wrapper {
  margin-top: 1rem;
  position: relative;
  z-index: 999;
}

.donut-chart-active-preset {
  position: relative;
}

.donut-chart-preset-list-item:hover {
  cursor: pointer;
  scale: 1.05;
}

/*#endregion DonutChart */

/*#region Utlitly Classes*/

.nav {
  position: absolute;
  z-index: 999;
  top: 0;
}

.userInfo {
  position: absolute;
  width: auto;
  text-align: center;
  font-size: var(--fs-625);
  font-style: oblique;
  padding: 2rem;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 998;
}

.sn-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.sn-wrapper p {
  font-size: var(--fs-625);
  hyphens: auto;
  max-width: 90%;
}

.sn-wrapper[data-type="success"] p {
  color: green;
}

.sn-wrapper[data-type="error"] p {
  color: red;
}

df-messenger {
  --df-messenger-bot-message: var(--clr-neutral-white);
}

/*#endregion Utlitly Classes*/
